:root {
  --brand-color: #ff94eb;
  --brown: #2a2215;
  --highlight: green;
}

h1 {
  color: var(--brand-color)
}

#RennPlayz-Stream, #RennPlayz-Chat, #RennPlayz-StreamAndChat {
  min-height: 75vh !important;
  width: 100% !important;
  outline: none;
  border: 2px solid;
  border-radius: 7px;
  box-shadow: 0 10px 50px var(--brown);
}

#welcome-title {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 85px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.container {
  margin: 20px 5% 20px 5%;
}



/*
  CARD STYLING
 */
.card-header-color {
  background-color: var(--brand-color) !important;
}

.card-item:hover {
  background-color: var(--brown) !important;
}

.card-link {
  text-decoration: none;
}



/*
  CUSTOM SCROLLBAR
 */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px;
  /*border-radius: 10px;*/
  background: var(--brand-color);
}

::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brown);
}



/*
  RESPONSIVE LAYOUT
 */
@media (max-width: 1200px) {
  .hide-component {
    display: none;
  }

  .stream-container {
    margin-top: 15px;
  }

  #welcome-title {
    margin-top: 40px;
    font-size: 65px;
  }
}

@media (max-width: 890px) {
  .stream-container {
    margin-top: 10px;
  }

  #welcome-title {
    margin-top: 30px;
    font-size: 45px;
  }
}

@media (max-width: 540px) {
  .stream-container {
    margin-top: 5px;
  }
}
